@font-face {
  font-family: molona;
  src: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/fonts/nevis.ttf);
}

@font-face {
  font-family: molona2;
  src: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: "icons";
  src: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/fonts/websymbols-regular-webfont.eot);
  src: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/fonts/websymbols-regular-webfont.woff)
    format("woff");
  src: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/fonts/websymbols-regular-webfont.ttf)
    format("truetype");
}
body {
  margin: 0px;
  padding: 0px;
}
#container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0px auto;
  background-image: url(/01-maquetacion/recursos/recursos-maquetacion-1-master-css-victor-robles/img/paven.png);
}
#logo {
  margin: 0px auto;
  text-align: center;
}
#logo img {
  width: 10%;
}
#title {
  margin-top: -35px;
  font-size: 23px;
  font-family: molona;
  color: #71b053;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(77, 74, 74);
  text-align: center;
}

#menu {
  text-align: center;
  background-color: rgb(71, 70, 70);
  height: 40px;
}
#menu ul {
  margin: 0px auto;
  width: 1130px !important;
  list-style: none;
}
#menu > ul > li {
  text-align: center;
  float: left;
  transition: all 300ms;
}
#menu > ul > li > a {
  padding: 10px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
}
#menu ul li:first-child a {
  border-left: 1px solid white;
}
#menu > ul > li:hover {
  background-color: green;
  cursor: pointer;
}
#main {
  margin: 0px auto;
  width: 70%;
}
#side-bar {
  margin: 0px auto;
  padding: 30px;
  float: left;
  width: 20%;
}
#content {
  margin: 0px auto;
  padding: 30px;
  float: right;
  width: 70%;
}

.bar {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(209, 207, 207);
  border-bottom: 1px dashed rgb(209, 207, 207);
  border-top: 1px dashed rgb(209, 207, 207);
  box-shadow: 0px 3px 2px rgb(187, 187, 187);
  background-color: white;
}
.bar:first-child {
  border-top: 1px solid rgb(209, 207, 207);
}
.bar:nth-last-child(2) {
  border-bottom: rgb(209, 207, 207);
  text-align-last: left;
}
.bar:nth-last-child(2) ul li a {
  padding: 5px;
  font-size: 14px;
  color: green;
}
.bar h3 {
  font-size: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgb(216, 213, 213);
  text-align: center;
}

.bar p {
  text-align: left;
  color: green;
  line-height: 10px;
}
.bar input[type="submit"] {
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 0px;
  color: white;
  background-color: green;
  border: 1px solid rgb(3, 83, 3);
}

.bar_2 {
  border: 1px solid rgb(189, 186, 186);
  margin-top: 60px;
  background-color: white;
  padding-left: 10px;
  box-shadow: 0px 3px 2px rgb(187, 187, 187);
}
.bar_2 a {
  color: green;
}

.blue h3 {
  color: blue;
}
.red h3 {
  color: red;
}

.clear-fix {
  float: none;
  clear: both;
}
.box {
  margin-bottom: 80px;
  border: 1px solid rgb(189, 186, 186);
  box-shadow: 0px 3px 2px rgb(187, 187, 187);
  padding: 20px;
  line-height: 25px;
  background-color: white;
}
.box hr {
  color: rgb(197, 38, 38);
}
.box h2 {
  text-align: center;
}
.paragraph {
  text-align: justify;
  font-size: 16px;
}
.paragraph span {
  color: green;
}

.red-box h2 {
  color: rgb(134, 25, 25);
}

.yellow-box h2 {
  color: rgb(209, 169, 39);
}
footer {
  background-color: #474646;
  color: white;
  padding: 1px;
  text-align: center;
}
footer p {
  margin-top: 15px;
}
footer a {
  color: green;
}

#menu > ul > li > ul {
  display: none;
  width: 160px !important;
  box-shadow: 0px 2px 2px gray;
  z-index: 1;
  position: absolute;
}

#menu > ul > li:hover > ul {
  display: block;
}

#menu > ul > li:hover > ul > li {
  background-color: white;
  color: red;
  display: block;
  border-bottom: 1px solid gray;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
}

#menu > ul > li:hover > ul > li a {
  text-decoration: none;

  color: gray;
}

#menu > ul > li:hover > ul > li:hover {
  box-shadow: 0px 0px 10px #c5c4c4 inset;
  background-color: rgb(240, 236, 236);
}

.bar form {
  margin-bottom: 8px;
}

.box .stickerOne,
.box .stickerTwo {
  position: absolute;
  margin-top: -40px;
  z-index: 0;
}

.box .stickerTwo {
  margin-left: 860px;
}
.icon {
  font-family: icons;
  color: black !important;
}
