#container #footer .logo, #container #header .logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 20px;
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

#container #header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  display: grid;
  grid-template-columns: 68% 30%;
  align-items: center;
}
#container #header .logo {
  padding: 10px;
  margin-left: 20px;
}
#container #header #menu {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
#container #header #menu ul {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
#container #header #menu ul li {
  text-align: center;
}
#container #header #menu ul li a {
  color: #444;
  text-transform: uppercase;
  padding: 15px;
  transition: all 300ms;
}
#container #header #menu ul li a:hover {
  background-color: #ccc;
  color: white;
}
#container #content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-items: space-between;
  grid-column-gap: 7px;
  align-items: start;
}
#container #content #aside {
  margin-right: 30px;
  padding: 15px;
}
#container #content #aside h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #444;
  font-weight: 100;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}
#container #content #aside ul {
  list-style: none;
}
#container #content #aside ul li {
  padding-bottom: 20px;
}
#container #content #aside ul li a {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #eee;
  color: #444;
  transition: all 300ms;
  text-transform: uppercase;
}
#container #content #aside ul li a:hover {
  background-color: #444;
  color: #eee;
}
#container #content #projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  grid-gap: 20px;
  align-items: start;
}
#container #content #projects .project {
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #ccc;
}
#container #content #projects .project .image-wrap img {
  width: 100%;
}
#container #content #projects .project .project-info {
  padding: 10px;
}
#container #content #projects .project .project-info p {
  font-size: 16px;
  color: gray;
}
#container #content #projects .project .project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}
#container #content #projects .project .project-info a:hover {
  color: green;
}
#container #footer {
  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  display: grid;
  grid-template-columns: 1fr 25%;
  align-items: center;
  justify-content: start;
}
#container #footer .logo {
  text-align: right;
  margin-right: 20px;
  text-align: left;
}
#container #footer .info {
  margin-left: 20px;
  color: #444;
}

@media (max-width: 784px) {
  #container #header {
    grid-template-columns: 100%;
    justify-content: center;
    height: 140px;
    padding-bottom: 20px;
  }
  #container #header .logo h1 {
    text-align: center;
  }
  #container #content {
    grid-template-columns: 1fr;
    grid-column-gap: auto;
  }
  #container #content #projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    justify-content: space-between;
  }
  #container #content #projects .project {
    margin-bottom: 25px;
    margin-right: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-left: 10px;
  }
  #container #content #projects .project .image-wrap img {
    width: 100%;
  }
  #container #content #projects .project .project-info {
    padding: 10px;
  }
  #container #content #projects .project .project-info p {
    font-size: 16px;
    color: gray;
  }
  #container #content #projects .project .project-info a {
    font-size: 16px;
    color: black;
    transition: all 300ms;
  }
  #container #content #projects .project .project-info a:hover {
    color: green;
  }
  #container #content #aside {
    margin-right: 0px;
    padding: 15px;
  }
  #container #content #aside ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  #container #footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  #container #footer .logo {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
